<div class="card">
  <div class="card-header">
    <button class="btn btn-success btn-sm" (click)="upvote(course.id)">+</button>
    <button class="btn btn-danger btn-sm" (click)="downvote(course.id)">-</button>
    &nbsp;<b>Points: </b> {{ course.voteCount }}
  </div>
  <div class="card-body">
    <div class="text-right badge badge-secondary">{{ course.topic }}</div>
    <h5 class="card-title">{{ course.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">by {{ course.author }}</h6>
    <p class="card-text">{{ course.description }}</p>
    <a href="{{ course.url }}" target="_blank" class="card-link">Go to course ...</a>
  </div>
</div>
