<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Web Dev Courses</a></mdb-navbar-brand>
  <links>
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form">
              <input class="form-control" type="text" placeholder="Search" #searchInput>
          </div>
      </form>
  </links>
</mdb-navbar>
<div class="container-fluid">
    <app-list [searchTerm]="searchInput.value"></app-list>
</div>